body{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(247, 151, 201);
}

div#container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    height: 416px;
    width: 416px;
    background-color: aliceblue;
    margin: 30px; 
}


#container .row{
    /* height: 102px; */
    display: flex;
    flex:1;  
}

.tile{
    border: 2px solid rgb(255, 255, 255);
    flex:1;
}

#btn{
    border-radius: 5px;
    height: 60px;
    width: 350px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: rgba(255, 24, 128, 0.856);
    
}